  
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
        <script src="http://js/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    
    </head>
    <body>
        <div> <!-- main div starts here -->
        

          <div class="container" style="text-align:center"> <!-- answer container starts here -->
            <h2>Something Went Wrong!</h2>
            <h3> Following error occured:</h3>
              <div class="well">
              
               
                <h4> {{error}} </h4>
                
              </div>
          </div> <!--answer container ends here-->
          
        </div> <!-- main div ends here -->
    </body>
</html>
